*.cache
.idea/.idea.EndersExtras/.idea/encodings.xml
.idea/.idea.EndersExtras/.idea/indexLayout.xml
.idea/.idea.EndersExtras/.idea/vcs.xml
.vs/EndersExtras/v17/.futdcache.v2
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfo.cs
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfoInputs.cache
Source/obj/Debug/net8.0/EndersExtras.csproj.AssemblyReference.cache
Source/obj/project.packagespec.json
Source/obj/rider.project.model.nuget.info
Source/obj/rider.project.restore.info
.vs/EndersExtras/v17/.futdcache.v2
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfo.cs
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfoInputs.cache
Source/obj/Debug/net8.0/EndersExtras.csproj.AssemblyReference.cache
.vs/EndersExtras/v17/.futdcache.v2
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfo.cs
Source/obj/Debug/net8.0/EndersExtras.AssemblyInfoInputs.cache
Source/obj/Debug/net8.0/EndersExtras.csproj.AssemblyReference.cache
